@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
    user-select: none;
}
main{
    min-height: 100vh;
    width: 1200px;
    margin: auto;
}
.overlay{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: fixed; 
    z-index: -8;
}
.background{
    background-image: url(back.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -9;
}
.nav,.menu ul{
display: flex;
justify-content: space-around;
align-items:center;

}
ul{
    list-style: none;
}
li{
    padding: 20px;
}
a{
    color: #000;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 5px;
    transition: background-color 300ms ease-in-out , color 300ms ease-in-out;
}
li a:hover{
    background-color: #000;
    color:#fff;
}
#pOrder{
    background-color: rgba(100, 149, 237,0.5);
    color: #fff;
}
#pOrder:hover{
    color: rgba(100, 149, 237);
    background-color: #fff;
}
.logo{
    background-image: url(logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 275px;
    height: 160px;
}
.nav{
    position:sticky;
    top:0;
    height: 110px;
    width: 100%;
    backdrop-filter: blur(2px);
    z-index: 9;
}
.main-header{
    background-image: url(main.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 1150px;
    height: 650px;
    margin: auto;
    transition: transform 200ms linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    text-align: center;
    overflow: hidden;
    transition: transform 200ms linear;
}
.heading h1{
    padding: 0px 20px;
    color: rgba(100, 149, 237);
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000; 
    font-weight: bold;
}

.heading h1:nth-child(1){
    animation: slide 1000ms ease-in-out forwards;
    transform: translateY(-150px);
    font-size: 4rem;
}

.heading h1:nth-child(2){
    animation: splide 1000ms ease-in-out forwards;
    transform: translateY(150px);
    font-size: 3rem;
    
}

@keyframes slide{
    0%{
        transform: translateY(-150px);
    }
    100%{
    transform:translateY(0px) ;
    }
}

@keyframes splide{
    0%{
        transform: translateY(150px);
    }
    100%{
    transform:translateY(0px) ;
    }
}
iframe{
    border:5px solid #000;
    
}

.yellow{
    background-image: url(batman_in_yellow_background_4k_hd_batman-1920x1080.webp);
    background-size: contain;
    width: 100%;
    height: 530px;
    border: 5px solid #000;
}

.robert{
    background-image: url(the_batman_robert_pattinson_2021_poster_4k_hd_movies.webp);
    background-size: contain;
    width: 100%;
    height: 530px;
    border: 5px solid #000;
}

.enemy{
    background-image: url(enemy.webp);
    background-size: contain;
    width: 100%;
    height: 530px;
    border: 5px solid #000;
}
.splide{
margin: auto;
}
.section{
    position: relative;
    z-index: 8;
    transition: transform 300ms linear;
}
.section::after{
    content: "";
    background-image: url(side.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -180px;
    transform: rotate(320deg);
    pointer-events: none;
    filter: drop-shadow(0 0 0.75rem black);
}

.section::before{
    content: "";
    background-image: url(belt.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 480px;
    left: 0;
    margin-left:-200px;
    transform: rotate(20deg);
    pointer-events: none;
    filter: drop-shadow(0 0 0.75rem black);
    z-index: -9;
}